@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font: 16px "Lato", sans-serif;
  background: #777;
}
#menu {
  background-color: #fff;
  position: fixed;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  z-index: 2;
  top: 5px;
  left: 5px;
  cursor: pointer;
}
#linha {
  position: relative;
  display: block;
  background-color: #000;
  width: 30px;
  height: 2px;
  top: 24px;
  left: 10px;
  transition: 0.3s ease-in-out;
}
#linha:before,
#linha:after {
  background-color: #000;
  width: 100%;
  height: 100%;
  display: block;
  content: "";
  position: absolute;
  transition: 0.3s ease-in-out;
}
#linha:before {
  top: -10px;
}
#linha:after {
  bottom: -10px;
}
input {
  display: none;
}
input:checked ~ label #linha {
  transform: rotate(45deg);
}
input:checked ~ label #linha:before {
  transform: rotate(90deg);
  top: 0;
}
input:checked ~ label #linha:after {
  transform: rotate(90deg);
  bottom: 0;
}
.caixa {
  width: 300px;
  background: rgba(13, 13, 13, 0.8);
  height: 100%;
  left: -300px;
  position: fixed;
  transition: all 0.3s linear;
  z-index: 1;
}
#check:checked ~ .caixa {
  transform: translateX(300px);
}
#ponto-link {
  margin-top: 75px;
}
#ponto-link a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: #000;
  background-color: #fff;
  width: 75%;
  padding: 15px;
  margin-top: 20px;
  border-radius: 0 5px 5px 0;
  transition: 0.165s;
  font-size: 20px;
}
#ponto-link a:hover {
  border-right: 5px solid #777;
  transition: 0.165s;
}
#template {
  position: relative;
  height: 100%;
  background-image: url(Template3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
#template-cont {
  position: absolute;
  top: 45%;
  left: 0;
  text-align: center;
  width: 100%;
}
#template-cont span#titulo {
  padding: 5px;
  color: rgb(13, 13, 13);
  background-color: #fff;
  font-size: 50px;
  letter-spacing: 5px;
  border-radius: 5px;
  font-family: "Roboto Mono", monospace;
}
#titulo::after {
  content: "|";
  margin-left: 5px;
  opacity: 1;
  animation: pisca 0.8s infinite;
}
@keyframes pisca {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.topo {
  padding: 60px 15px;
  background-color: rgb(13, 13, 13);
}
.topo p {
  color: #fff;
  font-size: 1.3em;
}
.meio {
  background-color: rgb(13, 13, 13);
  padding: 15px;
  padding-bottom: 36px;
}
.meio h1,
.meio h3 {
  text-align: center;
  color: #fff;
  font-weight: lighter;
}
.meio h1 {
  font-size: 2.5em;
  font-family: "Roboto Mono", monospace;
}
.meio h3 {
  font-size: 1.3em;
  margin-bottom: 50px;
}
.fundo {
  position: relative;
  height: 100%;
  background-image: url(fundo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.div-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.div-cont-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.conteudo {
  width: 30%;
  margin-bottom: 30px;
}
.conteudo-2 {
  width: 35%;
  margin-bottom: 30px;
}
.conteudo-img img {
  width: 100%;
  border-radius: 5px;
}
.conteudo-link {
  font-size: 1.3em;
}
.conteudo-link p {
  color: #fff;
}
.conteudo-link a {
  color: #000;
  text-decoration: none;
  padding: 5px;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 5px;
}
footer {
  background-color: rgb(13, 13, 13);
  padding: 15px;
  border-top: 1px solid #fff;
}
footer p {
  text-align: center;
  color: #fff;
}
::-webkit-scrollbar {
  width: 8px;
  background-color: #fff;
  border: 3px solid rgb(13, 13, 13);
}
::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 5px;
}
@media screen and (max-width: 620px) {
  .conteudo,
  .conteudo-2 {
    width: 95%;
  }
  .div-cont {
    justify-content: space-evenly;
  }
  .conteudo-link .lin-link {
    display: inline-block;
    width: 25%;
  }
}
